/*
selector{

property: value;

}
*/

body{
     color:#1e00ff; 
    background-color: #00aa36;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    width: 300px;
}

h1{
    text-align: center;
}

#stepUpText{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
