
body{
    color:#fcffdf; 
    background-color: #0c000f;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}



#memeImage{
    margin-right: 200px;
    width: 300px;
    position: absolute;
    left: 70%;
    z-index: -1;
}

#memeImage2{
    margin-right: 200px;
    width: 300px;
    position: absolute;
    left: 70%;
    z-index: -1;
}

h1{
    text-align: center;
}

#stepUpText{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

#secret{
    text-align: center;
}

button {
    background-color: #001c42;
    color: #fefff4;
    border: 1px solid #e88eff;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #357abd;
}

.success {
    text-align: center;
    color: #00ff88;
}

.error {
    text-align: center;
    color: #ff4444;
}

#statusDisplay img {
    margin-top: 15px;
    margin-right: 200px;
    position: absolute;
    border: 2px solid white;
    border-radius: 8px;
    left: 42%;
}