body {
    background-color: #5eb4ff;
    color: #000000;
    align-items: center;
    padding: 40px;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background: rgb(0, 255, 170);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #301886;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #0051ff;
}
