body {
    background-color: #5eb4ff;
    color: #000000;
    align-items: center;
    padding: 40px;
}

table {
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background: rgb(0, 255, 170);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}
#table-container {
    clear: both; /* This forces the table to start BELOW the nav and footer area */
    display: flex;
    justify-content: center; /* Centers the table on the page */
    padding-top: 20px;
}
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}


thead {
    background-color: #301886;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #0051ff;
}

h1{
    text-align: center;
}

#stepUpText{
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

#secret{
    text-align: center;
}

button {
    background-color: #001c42;
    color: #fefff4;
    border: 1px solid #e88eff;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #357abd;
}

.success {
    text-align: center;
    color: #00ff88;
}

.error {
    text-align: center;
    color: #ff4444;
}

#statusDisplay img {
    margin-top: 15px;
    margin-right: 200px;
    position: absolute;
    border: 2px solid white;
    border-radius: 8px;
    left: 42%;
}
